@import url("sections/header.css");
@import url("sections/hero.css");
@import url("sections/main.css");
@import url("sections/footer.css");

@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Kanit", sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}

