.footer__section{
    display: flex;
    background-color: black;
    color: white;
    height: 30vh;
    justify-content: space-between;
    margin: 0 auto;
    padding: 8em 10em;
    font-size: 20px;
}
.footer__btn{
    background-color:  #eea539;
    border: none;
    padding: 40px;
    border-radius: 3px;
    color:white;
    
}
.input{
    border: none;
    padding: 40px 100px;
    box-sizing: border-box;
    border-radius: 5px;
}
.footer__section ol li{
    list-style-type: none;
    padding: 15px 0;
    
}
.footer__section h3{
    padding-top: 40px;
}
.footer__list li{
cursor: pointer;

}
.footer__list li:hover{
    color: #eea539;
}
.form__flex{
    margin-top: 90px;
}
.footer__section img{
    margin: 20px 0;
}