/* header */
/* nav */


.nav{
  background-color: #f4f7fb;
  padding: 2em 0;
}
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.nav__center ul {
  display: flex;
  list-style-type: none;  
}
.nav__center ul li{
  padding: 1em 2em;
}
.nav__images{
  display: flex;
  align-items: center;
  gap: 2em;
}

ul li:hover{
    background-color: #eea539;
    color: white;
}
.bar__icon{
  display: none;
}


@media screen and (max-width:414px){
  .nav__center{
    display:none ;
  }
  .bar__icon{
    display: block;
  }
}